
  <div class="card-body">
    <div class="row">
      <div class="col-8 titulo">
        <h2>Consulta de Editoras</h2>
      </div>
      <div class="col-4 text-rigth p-t-10">
        <button type="button" class="btn btn-info btn-sm">+ Novo</button>
      </div>
    </div>
    <br/>
    <div class="row border bg-secondary text-white">
      <div class="col-4">
        Código
      </div>
      <div class="col-4">
        Nome
      </div>
      <div class="col-4">
        Website
      </div>
    </div>
    <div class="row border" *ngFor='let editora of editoras'>
      <div class="col-4">
        {{editora.codigo}}
      </div>
      <div class="col-4">
        {{editora.nome}}
      </div>
      <div class="col-4">
        {{editora.website}}
      </div>
    </div>
  </div>
